/* see: https://stackoverflow.com/questions/7961721/how-do-i-install-a-custom-font-on-an-html-site */
@font-face {
  font-family: BogleRegular;
  src: url('/assets/OTF/Bogle-Regular.otf');
}
@font-face {
  font-family: BogleBlack;
  src: url('/assets/OTF/Bogle-Black.otf');
}
@font-face {
  font-family: BogleBold;
  src: url('/assets/OTF/Bogle-Bold.otf');
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  /* dark mode
  background-color: rgb(36, 32, 36);
  color: whitesmoke;
  */
  background-color: white;
  font-family: BogleRegular;

  max-width: 1360px;
  margin: auto;
}

.app-render {
  padding: 0rem 1.25rem;
  margin-top: 1rem;

  display: grid;
}

.image-slider-container {
  padding: 0rem 1.2rem;
  grid-row: 1;

  border-top: 2px solid rgb(230, 228, 228);
  border-bottom: 2px solid rgb(230, 228, 228);
}

.image-slider-container h2 {
  padding: 2rem 0rem;
}

.product-info-container {
  background-color: #ffffff;

  grid-row: 2;
  width: 75%;
  margin-right: auto;
  padding: 1.5rem 0rem;
}

.product-info-container h2 {
  margin-top: 1rem;
  padding-bottom: 1rem;
}
