/* see: https://stackoverflow.com/questions/7961721/how-do-i-install-a-custom-font-on-an-html-site */
@font-face {
  font-family: BogleRegular;
  src: url('/assets/OTF/Bogle-Regular.otf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  /* dark mode
  background-color: rgb(36, 32, 36);
  color: whitesmoke;
  */
  background-color: whitesmoke;
  font-family: BogleRegular;

  max-width: 1360px;
  margin: auto;
}

.app-render {
  margin: 0rem 1rem;
  margin-top: 1rem;

  border-top: 1px solid lightgray;
  display: grid;
}

.related-list-carousel {
  padding: 2rem .4rem;
  grid-row: 1;
  /* margin-top: 2rem; */
}

.about-item-section {
  grid-row: 2;
  width: 75%;
  margin-right: auto;
}