* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  /* background-color: rgb(36, 32, 36);
  color: whitesmoke; */
  background-color: whitesmoke;


  max-width: 1360px;
  margin: auto;
  overflow: hidden;
}

.app-render {
  margin: 0rem 1rem;
  margin-top: 1rem;
  border-top: 1px solid lightgray;
}

.related-list-carousel {
  padding: 2rem .4rem;
  /* margin-top: 2rem; */
}

.about-item-section {
  margin-right: auto;
  width: 75%;
}