@font-face {
  font-family: BogleRegular;
  src: url('../assets/OTF/Bogle-Regular.otf');
}
@font-face {
  font-family: BogleBlack;
  src: url('../assets/OTF/Bogle-Black.otf');
}
@font-face {
  font-family: BogleBold;
  src: url('../assets/OTF/Bogle-Bold.otf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  padding: 0rem 1.25rem;
}

body {
  font-family: BogleRegular;
  letter-spacing: -.02rem;
  line-height: 1.5rem;

  max-width: 1360px;
  margin: auto;
}

.app-render {
  display: grid;
}

.writing-bold {
  font-family: BogleBold;
}

.writing-black {
  font-family: BogleBlack;
}

.hidden-true {
  display: none;
}


